.background {
    -fx-background-size:cover;
    -fx-background-image: url("images/background-patron.jpg");
}
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: Transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-animated: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
#logo1 {
    -fx-background-image: url("images/bk/Logo3.png");
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}
.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}